In [12]:
import pandas as pd
import numpy as np
import csv

In [13]:
output = pd.read_csv('../w_louvain.csv')
output

   MOD_CLASS                                            FLIGHTS  SIZE
0          0  ['A6RTS_OMDW_EGGW_20170901055500' 'AAR795_UUDD...  4227
1          1  ['AAB249_EBKT_LFMN_20170901070500' 'AAB249_LFM...  8471
2          2  ['AAB25C_LOWW_UUMO_20170901143500' 'AAB696_EBL...  5280
3          3  ['AAB678_LEIB_LPPR_20170901100000' 'AAB713_EBK...  2678
4          4  ['AAB713_EDDV_EHBK_20170901183500' 'AAB713_EHB...  8017
5          5  ['ABG8006_LTAI_UNOO_20170901155000' 'ABG8058_L...   669
6          6  ['BCY061P_ENZV_ENBR_20170901111500' 'BEE2907_E...   467
7          7  ['BHL642_ENKR_ENSS_20170901033000' 'FVK202_ENH...    53
8          8  ['DOP601_EKEB_EKDB_20170901050000' 'DOP602_EKG...     4
9          9  ['DOP613_EKEB_EKHD_20170901160000' 'DOP614_EKD...     6
10      None  ['AHY9223_UBBB_UGTB_20170901043000' 'AOJ75D_LD...    45

In [14]:
output = output.replace('\n','', regex=True)

In [15]:
output['MOD_CLASS'] = '("' + output['MOD_CLASS'].astype(str) + '")'
output = output.replace("'", '"', regex=True)
output

   MOD_CLASS                                            FLIGHTS  SIZE
0      ("0")  ["A6RTS_OMDW_EGGW_20170901055500" "AAR795_UUDD...  4227
1      ("1")  ["AAB249_EBKT_LFMN_20170901070500" "AAB249_LFM...  8471
2      ("2")  ["AAB25C_LOWW_UUMO_20170901143500" "AAB696_EBL...  5280
3      ("3")  ["AAB678_LEIB_LPPR_20170901100000" "AAB713_EBK...  2678
4      ("4")  ["AAB713_EDDV_EHBK_20170901183500" "AAB713_EHB...  8017
5      ("5")  ["ABG8006_LTAI_UNOO_20170901155000" "ABG8058_L...   669
6      ("6")  ["BCY061P_ENZV_ENBR_20170901111500" "BEE2907_E...   467
7      ("7")  ["BHL642_ENKR_ENSS_20170901033000" "FVK202_ENH...    53
8      ("8")  ["DOP601_EKEB_EKDB_20170901050000" "DOP602_EKG...     4
9      ("9")  ["DOP613_EKEB_EKHD_20170901160000" "DOP614_EKD...     6
10  ("None")  ["AHY9223_UBBB_UGTB_20170901043000" "AOJ75D_LD...    45

In [16]:
with open('louvain_clusters_W.dat', 'a') as the_file:
    for i in range(0,len(output)):
        the_file.write('\t' + str(output['MOD_CLASS'].loc[i]) + " " + str(output['FLIGHTS'].loc[i]) + '\n')

In [17]:
output['FLIGHTS'].loc[9]
#output['SIZE'].sum()

'["DOP613_EKEB_EKHD_20170901160000" "DOP614_EKDB_EKEB_20170901181500" "DOP615_EKEB_EKDB_20170901161500" "DOP616_EKHA_EKEB_20170901181500" "DOP641_EKEB_EKHA_20170901164500" "DOP642_EKGC_EKEB_20170901181500"]'

In [ ]:
#output.to_csv('C:\\Users\\utente\\Documents\\DSSC_IIyear\\Voli\\Network\\output___1.dat', header=True, index=False)

In [ ]:
#prova = pd.read_csv('output___1.dat')
#prova

In [ ]:
#output = output[['CLUSTER','FLIGHTS']]

In [ ]:
#output.to_csv('C:\\Users\\utente\\Documents\\DSSC_IIyear\\Voli\\Infomap\\infomap_clusters___3.csv', header=True, index=False)

In [ ]:
#output.to_csv('C:\\Users\\utente\\Documents\\DSSC_IIyear\\Voli\\Infomap\\infomap_clusters___3.dat', sep=',', header=False, index=False)

In [ ]:
#data = pd.read_csv('infomap_clusters___3.dat', header=None, sep=',')

In [ ]:
#data